[submodule "event-based-vision"]
	path = event-based-vision
	url = https://gitlab.com/EuropeanSpaceAgency/event-based-vision.git
[submodule "PyPANGU"]
	path = PyPANGU
	url = https://gitlab.com/act_team/pypangu.git
